<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/main.css">   
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="bg-green-500  font-thin text-white p-1 ">
            <div class="container m-auto flex gap-8">
                <div>
                    <i class="fas fa-phone "></i> +45 233 323 213
                </div>
                <div>
                    <i class="fas fa-envelope mr-2"></i>contacto@reinoverde.com
                </div>
            </div>
        </div>
        <nav class="flex container  m-auto py-2 justify-between items-center p-2">
            <img src="img/logo.png"   width="250" alt="">            
            <ul class="sm:flex hidden  justify-between gap-3 font-bold">
                <li><a href="#" class="link">Servicios</a></li>
                <li><a href="#" class="link">Sobre nosotros</a></li>
                <li><a href="#contact" class="link">Contacto</a></li>
                <li><a href="#" class="link">Servicios</a></li>
            </ul>
           
            <div class="lg:hidden">
                <a href="#" id="hamburguer-button" class="text-green-600 font-medium hover:border-2 rad hover:bg-green-700 transition transition-300 rounded-sm hover:text-gray-100 p-2"><i class="fas fa-bars"></i></a>
                <ul class="transition transition-500 mobile-menu hidden absolute  mt-2 text-center gap-3 font-bold w-full items-center h-86 bg-green-800 left-0 z-50 bot-2">
                    <li><a href="#" class="link text-white hover:bg-green-200">Servicios</a></li>
                    <li><a href="#" class="link text-white hover:bg-green-200">Sobre nosotros</a></li>
                    <li><a href="#" class="link text-white hover:bg-green-200">Contacto</a></li>
                    <li><a href="#" class="link text-white hover:bg-green-200">Servicios</a></li>
                </ul> 
            </div>
        </nav>
        <!-- <img src="img/header.jpg" class="" alt=""> -->
        <div class="h-32 md:h-56 xl:h-96 bg-cover bg-header-image bg-center" >
            <div class="h-full text-white flex flex-col items-center justify-center" >
                <h1>Jardineria Reino Verde</h1>
                <h2>Planta, cria y tendrás alegria</h2>
            </div>
        </div>
    </header>